/* RESUME PAGE ----------------------------------------------------------------------------------------------------------------------------------------------- */

header::after{
    background: url("../images/background-computer1.jpg");
    content: "";
    display: block;
    height: 300px;
    background-size: cover;
    background-position: center;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content-wrap {
    margin: 0 auto;
    padding: 10px;
    max-width: 1150px;
    flex: 1 0 auto;
}

body {
    background-color: #FAF9F6;
    color: #224430;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

img {
    width: 400px;
    height: 200px;
}

h1 {
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

/* LINKS ----------------------------------------------------------------------------------------------------------------------------------------------------*/
a {
    color: #3E7A56;
}

a:hover {
    color: #44885F;
    
}

/* ABOUT -----------------------------------------------------------------------------------------------------------------------------------------------------*/
header {
    text-align: center;
}

header p {
    margin-left: 150px;
    margin-right: 150px;
}
/* PROJECTS --------------------------------------------------------------------------------------------------------------------------------------------------*/

.project {
    display: grid;
    grid-template-rows: auto auto;
    gap: 40px;
    padding: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.project-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    background-color: lightgrey;
}
/* WORK EXPERIENCE -------------------------------------------------------------------------------------------------------------------------------------------*/
.work {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    padding: 20px;
    padding-bottom: 40px;  
    margin: 0 auto;
}

.work-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* EDUCATION -------------------------------------------------------------------------------------------------------------------------------------------------*/
.edu-item {
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
/* FOOTER ----------------------------------------------------------------------------------------------------------------------------------------------------*/
footer h2 {
    text-align: left;
}

footer {
    background-color: ivory;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

footer a {
    background-color: ivory;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials img {
    width: 32px;
    height: 32px;
}

.socials img:hover {
    opacity: 0.5;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}